// vite.config.js
import { defineConfig } from 'vite'
import react from '@vitejs/plugin-react'

export default defineConfig({
  plugins: [react({ 
    include: /\.(mdx|js|jsx|ts|tsx)$/ 
  })],
  server: {
    port: 5175,      // <--- set your desired port here
    strictPort: true // <--- optional: fail if port is taken, don't auto-increment
  }
});
